@import "./mixins.scss";

.wrapperAdminUsers {
  position: absolute;
  right: 0;
  margin-top: 68px;
  height: 100px;
  width: 84%;
  padding: 30px;
  max-width: 84%;
  .adminUsers {
    .table {
      width: 100%;
      border-collapse: collapse;
      tr {
        line-height: 1rem;
        th, td {
          border: 1px solid $colorBorder;  
          padding: 5px 10px;
          text-align: center;
        }
        th {
          @include customFont(18px, "roboto");
          background: $colorGray;
          padding: 10px 10px;
          color: $colorWhite;
        }
        .description {
          width: 1000px;
        }
        .descriptions {
          text-align: left;
        }
        td {
          @include customFont(16px, "roboto");
          .avatar {
            border-radius: 50%;
            width: 50px;
            height: 50px;
          }
          .edit {
            padding: 5px;
            border: 1px solid $colorYellow;
            border-radius: 3px;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
              background: $colorYellow;
              color: $colorWhite;
              transition: 0.3s;
            }
          }
          .delete {
            padding: 5px;
            border: 1px solid $colorRed;
            border-radius: 3px;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
              color: $colorWhite;
              background: $colorRed;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
  .adminMovies {
    overflow-x: auto;
    min-width: 3100px;
    .addMovie {
      display: inline-block;
      padding: 10px;
      border: 1px solid $colorGreen;
      border-radius: 5px;
      transition: 0.3s;
      cursor: pointer;
      margin-bottom: 20px;
      &:hover {
        background: $colorGreen;
        transition: 0.3s;
        color: $colorWhite;
      }
    }
  }
  .adminRevenue {
    .table {
      tr {
        line-height: 2rem;
      }
    }
    .total {
      @include customFont(18px, "roboto");
      text-align: right;
      margin: 20px 40px;
      color: $colorGreen;
    }
  }
  .adminTickets {
    .table {
      tr {
        line-height: 2rem;
      }
    }
  }
}

.booking-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 850px;
  height: 650px;
  z-index: 999;
  border-radius: 20px;
  overflow: scroll;
  background: $colorWhite;
  margin-left: -425px;
  margin-top: -325px;
  &__inner {
    background-color: #fff;
    padding: 40px;
    width: 100%;
    height: 100%;
    opacity: 1;
    .wrapper {
      display: flex;
      .left {
        width: 50%;
        &__account {
          @include customFont(20px, "roboto");
          text-align: center;
        }
        &__information {
          @include customFont(18px, "roboto");
          margin: 20px 0;
          .icon {
            width: 30px;
            position: relative;
            top: 6px;
          }
        } 
        &__item {
          @include customFont(16px, "roboto");
          display: flex;
          justify-content: space-between;
          margin: 0 35px;
        }
        &__total {
          @include customFont(16px, "roboto");
          margin-top: 20px;
          text-align: center;
          color: $colorRed;
        }
        &__pay {
          @include customFont(16px, "roboto");
          text-align: center;
        }
      }
      .right{
        width: 50%;
        &__image {
          margin-left: 20%;
        }
        &--center {
          text-align: center;
          @include customFont(18px, "roboto");
        }
        &__item {
          display: flex;
          justify-content: space-between;
          margin: 20px 35px;
          .item {
            text-align: center;
          }
        }
      }
    }
  }
  .adminEditUser {
    width: 100%;
    margin: 0;
  }
}

.none {
  display: none !important;
}

.background-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.88);
}