@import "mixins";

form.login {
  width: 50%;
  margin:  118px auto;
  label {
    @include customFont(18px, "Roboto");
    display: block;
    margin: 0 10px 20px 0;
  }

  input {
    @include customFont(18px, "Roboto");
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
  }
}

form.login ~ .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}