@import "mixins";

form.login {
  width: 70%;
  margin:  50px auto;
  label {
    @include customFont(18px, "Roboto");
    display: block;
    margin: 0 10px 20px 0;
  }

  input {
    @include customFont(18px, "Roboto");
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
  }
}