@import "mixins";

.nowshowing {
    &__title {
        border-bottom: 3px solid #89c441;
        font-size: 24px;
        font-family: "Roboto";
        padding: 10px 15px;
        transition: 0.2s;
        font-weight: bold;
    }

    .wrap-title {
        margin: 40px 0;
    }

    &__content {
        .movie {
            margin-bottom: 30px;
            &__item {
                margin-bottom: 5px;
                @include customFont(14px, "roboto");
            }
            &__image {
                width: 100%;
            }

            &__name {
                font-weight: bold;
                margin-bottom: 7px;
                text-transform: uppercase;
                margin: 10px 10px 10px 0;
                color: $colorGreen;
                @include customFont(1rem, "Roboto");
                height: 38px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            .key {
                font-weight: bold;
            }

            .wrap-image {
                position: relative;
            }
            .wrap-movie__btn {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            div.wrap-movie__btn:hover {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.6);
            }

            &__btn {
                cursor: pointer;
                padding: 5px 10px;
                font-size: 18px;
                font-family: "Roboto";
                padding: 10px 20px;
                border: 1px solid #89c441;
                border-radius: 10px;
                color: #24292e;
                background: #fff;
                transition: 0.4s;
                margin: 0 15px 15px 15px;
                display: inline-block;
            }

            &__btn:hover {
                background: $colorGreen;
                color: $colorWhite;
            }
        }
    }
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    .page-item {
        border: 1px solid #e1e1e1;
        padding: 4px 12px;
        margin-right: 7px;
        cursor: pointer;
        a {
            color: #000;
        }
    }

    .page-item:hover {
        background-color: #000;
        opacity: 0.8;
        a {
            color: #fff !important;
        }
    }
}

.booking-form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.88);

    &__inner {
        background-color: #fff;
        padding: 60px;
        border-radius: 20px;
        opacity: 1;
        overflow: auto;
        max-width: 850px;
        max-height: 650px;
    }
    &__date {
        &__item {
            padding: 5px 10px;
            color: #000;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            margin-right: 15px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
        }
        &__item:hover {
            background-color: #000;
            color: #fff;
            border-color: #000;
        }
        .active {
            background-color: #000;
            color: #fff;
            border-color: #000;
        }
        padding-bottom: 20px;
        border-bottom: 2px solid #000;
    }

    &__city {
        margin: 30px 0;
        &__item {
            text-transform: uppercase;
            margin: 15px 15px 15px 0;
            border-bottom: 2px solid #e1e1e1;
            cursor: pointer;
        }

        &__item:hover {
            font-weight: bold;
            border-color: #000;
        }

        .active {
            font-weight: bold;
            border-color: #000;
        }

        padding-bottom: 20px;
        border-bottom: 2px solid #000;
    }

    &__type {
        &__item {
            padding: 5px 10px;
            color: #000;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            margin-right: 15px;
            cursor: pointer;
            text-transform: uppercase;
        }

        &__item:hover {
            font-weight: bold;
            border-color: #000;
            background-color: #000;
            color: #fff;
        }

        .active {
            font-weight: bold;
            border-color: #000;
            background-color: #000;
            color: #fff;
        }
        padding-bottom: 20px;
        border-bottom: 2px solid #000;
    }

    &__time {
        margin-top: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e1e1e1;
        &__name {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &__item {
            border: 1px solid #e1e1e1;
            padding: 5px 10px;
            margin-right: 20px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        &__item:hover {
            font-weight: bold;
            border-color: #000;
            background-color: #000;
            color: #fff;
        }
    }
}
