@import "./mixins.scss";

.payment {
  margin: 118px 0;
  &__title {
    display: flex;
    justify-content: center;
    .title {
      border-bottom: 3px solid $colorGreen;
      @include customFont(24px, "roboto");
      padding: 10px 15px;
      transition: 0.2s;
      font-weight: bold;
      display: inline-block;
    }
  }
  &__infoBoard {
    border: 1px solid $colorBorder;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
    background: $colorGreen;
    color: $colorWhite;
    &__header {
      text-align: center;
      .content {
        @include customFont(18px, "roboto");
        font-weight: bold;
        margin: 10px 10px;
        display: inline-block;
        padding-right: 20px;;
        border-right: 1px solid $colorRed;
      }
      .content:nth-child(3) {
        border: none;
      }
    }
    &__footer {
      text-align: center;
      margin: 10px 10px;
      @include customFont(16px, "roboto");
      .date {
        margin-right: 20px;
      }
    }
  }
  &__main {
    width: 70%;
    margin: 40px auto;
    &__title {
      text-align: center;
      @include customFont(22px , "roboto");
      font-weight: bold;
    }
    &__content {
      width: 70%;
      margin: 30px auto;
      .wrapper {
        border: 1px solid $colorBorder;
        padding: 20px;
        border-radius: 10px;
        .pay {
          display: flex;
          justify-content: space-between;
          .pay__content {
            margin: 10px;
          }
        }
        .total {
          text-align: center;
          margin: 10px;
          padding-top: 20px;
          border-top: 1px solid $colorBorder;
          color: $colorRed;
        }
      }
      form {
        width: 70%;
        margin: 30px auto;
        label {
          margin-left: 10px;
        }
      }
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    border: 1px solid $colorBorder;
    border-radius: 10px;
    padding: 30px 0;
    width: 70%;
    margin: auto;
    background: $colorGray;
    color: $colorWhite;
    .total {
      margin-right: 20px;
      &__item {
        padding: 10px 10px;
        border: 1px solid $colorWhite;
        color: $colorGray;
        background: $colorWhite;
        border-radius: 5px;
        transition: 0.3s;
        cursor: pointer;
        b {
          color: $colorGreen;
        }
      }
      &__item:hover {
        transition: 0.3s;
        border: 1px solid $colorGreen;
        color: $colorWhite;
        background: $colorGreen;
      }
    }
    .prev {
      margin-left: 20px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 10px;
    }
    .prev:hover {
      color: $colorGreen;
      transition: 0.3s;
    }
  }
}