@import "mixins";

form.register {
  width: 50%;
  margin:  118px auto;
  label {
    @include customFont(18px, "Roboto");
    display: block;
    margin: 0 10px 20px 0;
  }
  label.gender {
    display: inline;
    input {
      width: auto;
    }
  }

  input {
    @include customFont(18px, "Roboto");
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  textarea {
    width: 100%;
    @include customFont(18px, "Roboto");
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
  }
}